$mf: 'Montserrat', sans-serif;
$mfcolor: #777777;
$cont: 140rem;
$green: #79c674;
$robo: 'Roboto Slab', serif;
$whiteless: #f9f9f9;
$footblack: #222222;
$gplus: #da2713;
$pinterest: #cb2028;
$facebook: #3b5998;
$tweeter: #00aced;
$footgrey: #555555;